// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles
@import "~@coreui/coreui/scss/coreui";

// Import Chart.js Tooltips
@import "~@coreui/chartjs/scss/tooltips";

@import "layout";
@import "example";

// If you want to add something do it here
@import "custom";


.cursor-pointer{
  cursor: pointer;
}
.modal-popup-detail .btn-close{
  opacity: 1;
  background-color: #fff;
}
.modal-popup-detail .modal-header{
  background-color: #3c4b64;
  color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 17px 30px;
}
.modal-popup-detail .modal-content{
  border-radius: 20px;
}
.pull-right{
  float: right;
}

